



$main_color: teal;


body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Roboto';
  }
  html {
    height: 100%;
  }
  * {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  a{
      text-decoration: none;
  }

 header{
     width: 100%;
     background: $main_color;
     position: fixed;
     z-index: 9999999;
     -webkit-box-shadow: 0px 4px 23px -1px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 4px 23px -1px rgba(0,0,0,0.75);
     box-shadow: 0px 4px 23px -1px rgba(0,0,0,0.75);
    //  height: 50px;
     h1{
         color: #fff;
         text-align: center;
         font-weight: 500;
         padding-bottom: 20px;
         padding-top: 20px;
         cursor: default;
     }
 }

 .input_block{
     width: 100%;
    float: left;
 
   
    margin-top: 120px;
    .ib_field{
        
        width: 500px;
        padding: 10px 15px;
        // height: 50px;
        margin: 0 auto;
        background: #fff;
        border: 1px solid silver;
        -webkit-box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.75);
    }
    input{
        width: 70%;
        padding: 11px 15px;
    }
    button{
        padding: 10px 15px;
        margin-left: 20px;
        border: none;
        background: $main_color;
        color: #fff;
        font-weight: 400;
        font-size: 15px;
        
        cursor: pointer;
        &:hover{
            color: $main_color;
            background: #fff;
            border: 2px solid $main_color;
            padding: 8px 13px;
        }
    }
 }

.hidden_txt{
    margin-top: 50px;
    width: 100%;
    float: left;
    text-align: center;
    font-size: 32px;
    color: #6C8B8B;
    display: none;
}

 .list_block{
    width: 100%;
    float: left;
    margin-top: 50px;
    margin-bottom: 80px;
    display: block;
    .lb_paragraphs{
        width: 500px;
        padding: 10px 15px;
        // height: 1500px;
        margin: 0 auto;
        border: 1px solid silver;
        -webkit-box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.75);
        .lb_p-column{
            width: 100%;
            border-bottom: 1px solid #c0c0c0;
            border-radius: 0px;
            padding: 10px 15px;
            margin-top: 10px;
            background: #fff;
            cursor: pointer;
            position: relative;
            &:last-child{
                margin-bottom: 25px;
            }
            .txt{
                width: 90%;
               
            }
            .delete{
                width: 20px;
                height: 20px;
                background: url(../img/close_red.png) no-repeat center;
                background-size: cover;
                cursor: pointer;
                z-index: 9999;
                right: 15px;
                top: 25%;
               position: absolute;
               border: none;
               filter: grayscale(50%);
               &:hover{
                filter: grayscale(0%);
               }

            }
            
        }
    }
 }

 .add_to_list{
     position: fixed;
     display: none;
     bottom: 50px;
     right: 50px;
    cursor: pointer;
     padding: 30px 40px;
     border-radius: 50%;
     color: #fff;
     font-size: 22px;
     background: $main_color;
     text-align: center;
     &:hover{
        -webkit-box-shadow: 0px 4px 23px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 23px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 23px -1px rgba(0,0,0,0.75);
     }
 }

 //mobile

 @media only screen and (max-device-width: 768px){
    header{
        width: 100%;
        background: $main_color;
        position: fixed;
        z-index: 999999;
        -webkit-box-shadow: 0px 4px 23px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 23px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 23px -1px rgba(0,0,0,0.75);
       //  height: 50px;
        h1{
            color: #fff;
            text-align: center;
            font-weight: 500;
            padding-bottom: 20px;
            padding-top: 20px;
            cursor: default;
        }
    }
   
    .input_block{
        width: 100%;
       float: left;
    
      
       margin-top: 120px;
       .ib_field{
           
           width: 80%;
           padding: 10px 15px;
           // height: 50px;
           margin: 0 auto;
           background: #fff;
           border: 1px solid silver;
           -webkit-box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.75);
           -moz-box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.75);
           box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.75);
       }
       input{
           width: 100%;
           padding: 11px 15px;
           border-radius: 0px;
           font-size: 16px;
           &:focus{
               border: 2px solid $main_color;
           }
       }
       button{
           padding: 10px 10px;
           margin-left: 0px;
           margin-top: 15px;
           width: 100%;
           
           border: none;
           background: $main_color;
           color: #fff;
           font-weight: 400;
           font-size: 12px;
           
           cursor: pointer;
           &:hover{
               color: $main_color;
               background: #fff;
               border: 2px solid $main_color;
               padding: 8px 13px;
           }
           &:active{
            border: none;
            background: $main_color;
            color: #fff;
           }
       }
    }
   
   .hidden_txt{
       margin-top: 50px;
       width: 100%;
       float: left;
       text-align: center;
       font-size: 25px;
       color: #6C8B8B;
       display: none;
   }
   
    .list_block{
       width: 100%;
       float: left;
       margin-top: 50px;
       margin-bottom: 80px;
       display: block;
       .lb_paragraphs{
           width: 80%;
           padding: 10px 15px;
           // height: 1500px;
           margin: 0 auto;
           border: 1px solid silver;
           -webkit-box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.75);
           -moz-box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.75);
           box-shadow: 0px 4px 12px -4px rgba(0,0,0,0.75);
           .lb_p-column{
               width: 100%;
               border-bottom: 1px solid #c0c0c0;
               border-radius: 0px;
               padding: 10px 15px;
               margin-top: 10px;
               background: #fff;
               cursor: pointer;
               position: relative;
               &:last-child{
                   margin-bottom: 25px;
               }
               .txt{
                   width: 90%;
                  
               }
               .delete{
                   width: 20px;
                   height: 20px;
                   background: url(../img/close_red.png) no-repeat center;
                   background-size: cover;
                   cursor: pointer;
                   z-index: 9999;
                   right: 15px;
                   top: 25%;
                  position: absolute;
                  border: none;
                  filter: grayscale(50%);
                  &:hover{
                   filter: grayscale(0%);
                  }
   
               }
               
           }
       }
    }
   
    .add_to_list{
        position: fixed;
        display: none !important;
        bottom: 50px;
        right: 50px;
       cursor: pointer;
        padding: 30px 40px;
        border-radius: 50%;
        color: #fff;
        font-size: 22px;
        background: $main_color;
        text-align: center;
        &:hover{
           -webkit-box-shadow: 0px 4px 23px -1px rgba(0,0,0,0.75);
           -moz-box-shadow: 0px 4px 23px -1px rgba(0,0,0,0.75);
           box-shadow: 0px 4px 23px -1px rgba(0,0,0,0.75);
        }
    }
 }